body {
	margin: auto;
    width: 75%;
    height:500px;
    background-color: grey;
}

h1 {
    color: white;
    
}

h2 {
    color: white;
    
}

#input {
    margin: auto;
    width: 400px;
}

#calculatebuttonid {
	color: blue;
	border: 3px solid blue;
    padding: 10px;
}

#results {
	margin: auto;
    width: 75%;
    height:400px;
}