
body {

	margin: auto;
    width: 75%;
    height:500px;
    background-color: black;
}

h1 {
    color: white;
    
}

h2 {
    color: white;
    
}

#input {
    margin: auto;
    width: 200%;
}

#calculatebuttonid {
	color: black;
	border: 3px solid gray;
    padding: 10px;
}

#results {
	margin: auto;
    width: 75%;
    height:400px;
}

